html, body {
  height:100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.btn-primary {
  background-color: #6648b1;
  border: 1px solid #6648b1;
}

.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}

.padding {
  padding-bottom: 2rem;
}